body {
    margin: 0 auto;
    width: 1280px;
}


ul {
    list-style: none;
    margin: 0 auto;
    font-size: 24px;
    line-height: 28px;
    color:black;
    


}

a {
    text-decoration: none;
    font-family: serif;
    font-size: 24px;
    
}

nav {
    display: block;
    width: 1283px;
    margin: 0 auto 30px;
}

.one ul {
    padding: 1em 0;
    background: #35444F;
    ;
}

.one a {
    padding: 1em;
    background: #35444F;
    border-right: 1px solid #d6dce0;
    padding-left: 3%;
    padding-right: 3%;
    color: #f3f1f1;
}

.one a:hover {
    background: #222F3A;

}

.one li {
    display: inline;
}

.colortext {
    color: rgb(0, 247, 255);
    font-size: 70px;
    font-weight: bold;
    text-decoration: none;

}

.ramda {
    font-size: 70px;
    font-weight: bold;

}




.border-left {
    border: 1px solid grey;

}

footer {
    font-family: serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 158px;
    display: block;
    width: 1280px;
    margin:5px;
    background:grey;
    border-right: 1px solid black;
    border:1px;
   
    color: #f3f1f1;

    color: #0C1927;
    border: 1px;
    

}


img {
    width: 300px;

}

.text {
    margin-left: 0px;
    font-size: 18px;
    line-height: 24px;
}

text_2 {
    font-size: 18px;
    line-height: 24px;


    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: flex-start;
}

.border-right {
    height: 500px;
    width: 70%;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spisok:hover {
    margin-left: 20px;
    background-color: grey;

}

.spisok {
    padding: 10px;
}

.text-2 {
    margin-left: 380px;
}

.spisok-2 {
    height: 60px;
    font-size: 74px;
    line-height: 28px;
    width:1140px;
}

.spisok-2 li {
    display: inline;
    color:black;
    margin-left:10px;
}
.down-nav {
    color:black; 
    text-decoration:none;
    font-size:30px;
}
.down-nav:hover{
   color:blue;
}